@page "/factura/vender"
@using Data.Request;
@using Data.Response;
@attribute [Authorize]

<div class="modal" style="display: @(showCard ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title text-uppercase"><b>Agregar Cliente</b></h5>
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close" @onclick="OpenCloseModal">
                    <i style="font-size: 15px;" class="fw-bold">X</i>
                </button>
            </div>

            <EditForm Model="requestCustomer" OnValidSubmit="SendCustomer">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="modal-body">

                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">👤</i>
                            </span>
                            <input type="text" class="form-control" placeholder="Nombre" 
                                @bind-value="requestCustomer.Nombre" required/>
                        </div>
                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">✉</i>
                            </span>
                            <input id="emailInput"  class="form-control" placeholder="  Apellidos" 
                                @bind-value="requestCustomer.Apellidos" required />
                        </div>

                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">🆔</i>
                            </span>
                            <input  class="form-control" placeholder="Cedula" 
                                @bind-value="requestCustomer.Cedula" 
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 11)"  
                                pattern="\d{11}" 
                                title="Debe tener 11 dígitos" 
                            />
                        </div>

                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">📞</i>
                            </span>
                            <input class="form-control" type="tel" placeholder="Teléfono" 
                                @bind-value="requestCustomer.Telefono" 
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)"  
                                pattern="\d{10}" 
                                title="Debe tener 10 dígitos" 
                            />
                        </div>

                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">📍</i>
                            </span>
                            <input class="form-control" placeholder="Dirección" 
                                @bind-value="requestCustomer.Direccion" />
                        </div>
                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">✉️</i>
                            </span>
                            <input type="email" class="form-control" placeholder="Correo" 
                            @bind-value="requestCustomer.Correo"/>
                        </div>
                    </div>

                    <div class="modal-footer  bg-dark text-white">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">
                                Guardar
                                <i style="font-size: 15px;" class="fw-bold">✔</i>
                            </button>
                            <button type="button" class="btn btn-secondary" @onclick="OpenCloseModal">
                                Cerrar
                                <i style="font-size: 15px;" class="fw-bold">❌</i>
                            </button>
                        </div>
                    </div>
                </EditForm>
        </div>
    </div>
</div>

<EditForm Model="facturaRequest">
    <div class="row g-4">
        <div class="col-md-7">
            <!-- CLIENTE / CONTACTO -->
            <div class="input-group">
                <span class="input-group-text text-black">
                    <label for="clienteInput" class="form-label fw-bold">Cliente:</label>
                </span>
                <input 
                    id="clienteInput"
                    class="form-control"
                    placeholder="Escribe o selecciona un cliente"
                    list="contactos"
                    @bind="Nombre"
                    required
                    title="Debes seleccionar un cliente"
                    aria-describedby="clienteHelp" />
                <datalist id="contactos">
                    @foreach (var contacto in Contactos)
                    {
                        <option value="@($"{contacto.Nombre} {contacto.Apellidos}")" @onclick="()=>BuscarSeleccionarCliente(contacto.Nombre + contacto.Apellidos)">
                            @FormatCustomerId(contacto.Cedula)
                        </option>
                    }
                </datalist>
                <button class="btn btn-primary d-print-none" 
                @onclick="OpenCloseModal" title="Agregar nuevo cliente">
                    <i style="font-size: 15px;" class="fw-bold">➕</i>
                </button>
            </div>

            <!-- Detalle de factura -->
            <h5 class="mt-4 fw-bold text-uppercase">
                Detalle de la factura <span class="text-primary">N° @ultimoIdFactura</span>
            </h5>
            <table class="table table-hover table-striped align-middle">
                <thead class="table-dark text-uppercase">
                    <tr>
                        <th style="width:80px;">Cant</th>
                        <th>Descripción</th>
                        <th style="width:120px;">Costo</th>
                        @* <th style="width:150px;">Descuento</th> *@
                        <th style="width:100px;" class="text-center">Total</th>
                        <th style="width:60px;">...</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detalle in facturaRequest.Detalles)
                    {
                        <tr>
                            <td>
                                <InputNumber 
                                    class="form-control d-print-none" 
                                    @bind-Value="@detalle.Cantidad" min="0" step="1" />
                                <span class="d-none d-print-inline">@detalle.Cantidad</span>
                            </td>
                            <td>@detalle.Descripcion</td>
                            <td>
                                <InputNumber class="form-control d-print-none" @bind-Value="@detalle.Precio" />
                                <span class="d-none d-print-inline">$@($"{detalle.Precio:N2}")</span>
                            </td>
                            @* <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>$@($"{(detalle.SubTotal * (detalle.Descuento / 100)):N2}")</span>
                                    <details class="d-print-none">
                                        <summary class="btn btn-sm btn-outline-primary m-0 p-1">🔽</summary>
                                        <InputNumber class="form-control mt-2"
                                            @bind-Value="@detalle.Descuento"
                                            min="0" max="30" step="1"
                                            aria-label="Porcentaje de descuento" />
                                    </details>
                                </div>
                            </td> *@
                            <td class="text-center">$@($"{(detalle.SubTotal - detalle.TotalDesc):N2}")</td>
                            <td>
                                <button class="btn btn-outline-danger btn-sm d-print-none" title="Eliminar detalle"
                                @onclick="()=>EliminarDetalle(detalle.ProductoId)" aria-label="Eliminar detalle">
                                    <i style="font-size: 15px;" class="fw-bold">🗑️</i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Resumen de la venta -->
            <div class="card mt-4">
                <div class="card-header d-flex justify-content-between align-items-center bg-black text-white">
                    <h5 class="mb-0">Resumen</h5>
                    <div class="d-flex gap-2">
                        <button class="btn btn-warning btn-sm d-print-none" 
                        @onclick="async ()=> await UpdatePage()" title="Limpiar lista de productos">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                        <select class="form-select form-select-sm" @bind="facturaRequest.TypePayment" aria-label="Tipo de venta">
                            <option disabled>TIPO DE VENTA</option>
                            <option selected value="1">CONTADO 💲</option>
                            <option value="2">CRÉDITO 💳</option>
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3 d-print-none">
                        <input type="number" @bind="facturaRequest.SaldoPagado" title="Cantidad recibida del cliente para el pago"
                        class="form-control form-control-sm" min="0" step="1" />
                        <button class="btn btn-success btn-sm" type="button" 
                        @onclick="CalcularCambio" title="Calcular cambio">
                            <i class="fas fa-cash-register" style="font-size: 20px;"></i>
                        </button>
                    </div>

                    <ul class="list-unstyled text-uppercase mb-0">
                        <li><strong>SubTotal:</strong> <span class="text-primary">$@($"{(facturaRequest.SubTotal - facturaRequest.ITBIS):N2}")</span></li>
                        <li><strong>ITBIS:</strong> <span class="text-danger">$@($"{facturaRequest.ITBIS:N2}")</span></li>
                        @* <li><strong>Descuento:</strong> <span class="text-success">$@facturaRequest.TotalDesc.ToString("N2")</span></li> *@
                        <li><strong>Importe:</strong> <span class="text-dark"><strong>$@($"{(facturaRequest.SubTotal - facturaRequest.TotalDesc):N2}")</strong></span></li>
                        @if (Info)
                        {
                            <li><strong>Pagado:</strong> <span class="text-success">$@($"{facturaRequest.SaldoPagado:N2}")</span></li>
                            <li><strong>Pendiente:</strong> <span class="text-danger"><strong>$@Cambio.ToString("N2")</strong></span></li>
                        }
                        else
                        {
                            <li><strong>Devuelta:</strong> <span class="text-dark">$@Cambio.ToString("N2")</span></li>
                        }
                    </ul>
                </div>
            </div>

            <!-- Modal para cambio efectivo -->
            <div class="modal fade show d-print-none" tabindex="-1" role="dialog" style="display:@(Chance ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                @(Cambio < 0 ? "Deuda del cliente" : "Devuelta para el cliente")
                            </h5>
                        </div>
                        <div class="modal-body">
                            <h5><strong>@(Cambio < 0 ? "Pendiente:" : "Cambio:")</strong> @Cambio.ToString("N2")</h5>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" type="button" @onclick="CancelarPago" aria-label="Cancelar pago">
                                <i style="font-size: 15px;" class="fw-bold">X</i>
                            </button>
                            <button class="btn btn-success" @onclick="async ()=>{await Send(); await UpdatePage();}" aria-label="Confirmar pago">
                                <i style="font-size: 15px;" class="fw-bold">✔</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PRODUCTOS -->
        <div class="col-md-5 d-print-none">
            <div class="card p-3">
                <div class="card-header bg-black text-white fw-bold text-uppercase">
                    <h6 class="mb-0">¿Qué desea el cliente?</h6>
                </div>

                <!-- Descuento -->
                @* <div class="mb-3">
                    <label for="Descuento" class="form-label fw-bold">Descuento (%)</label>
                    <InputNumber @bind-Value="detalleFacturaRequest.Descuento" id="Descuento" class="form-control" min="0" max="30" step="1" aria-describedby="descuentoHelp" />
                    <div id="descuentoHelp" class="form-text">Ingrese descuento máximo 30%</div>
                </div> *@

                <!-- Precio y cantidad -->
                <div class="mb-3 mt-2 d-flex align-items-center gap-3">
                    <label class="fw-bold mb-0">Precio:</label>
                    <span class="form-control w-50" title="Precio del producto">$@Precio.ToString("N2")</span>
                    <InputNumber class="form-control w-25" @bind-Value="Cantidad" title="Cantidad del producto seleccionado"
                    min="1" step="1" aria-label="Cantidad" />
                </div>

                <!-- Producto buscador -->
                <div class="row mb-1 d-flex align-items-center gap-3">
                    <div class="col">
                        <label class="form-label fw-bold" for="productoBuscar">Buscar producto</label>
                    </div>
                    <div class="col">
                        <button class="btn btn-success mt-3 w-100" title="Agregar al detalle"
                        @onclick="AgregarAlDetalle">
                            <i class="fas fa-cart-plus" style="font-size: 20px;"></i>
                        </button>
                    </div>
                </div>
                <input
                    id="productoBuscar"
                    class="form-control mb-2"
                    placeholder="Producto"
                    @oninput="(e) => FiltrarProductos(e.Value.ToString())"
                    aria-autocomplete="list"
                    autocomplete="off" />

                <div id="productos" class="list-group overflow-auto" style="max-height: 300px;">
                    @foreach (var producto in ProductosFiltrados)
                    {
                        <button class="list-group-item list-group-item-action d-flex align-items-center gap-2" type="button" @onclick="()=>BuscarPercio(producto.Id)">
                            <img src="@producto.ImagenRuta" class="img-thumbnail" width="50" height="50" />
                            <div>
                                <strong>@producto.CodigoDescripcion</strong><br />
                                <small>stock: @producto.Stock | precio: $@producto.Precio.ToString("N2")</small>
                            </div>
                        </button>
                    }
                </div>

                @if (Message != null)
                {
                    <div class="alert alert-warning mt-3 fw-bold">
                        @Message
                    </div>
                }
            </div>
        </div>
    </div>
</EditForm>


@code {
    // --- Propiedades de estado y UI ---
    public bool Chance { get; set; } = false;
    public bool Info { get; set; } = false;
    public string? Message { get; set; }
    public string Nombre { get; set; } = string.Empty;
    public string Filtro { get; set; } = string.Empty;
    public string TypePayment { get; set; } = string.Empty;

    // --- Datos y listas ---
    public List<ClienteResponse> Contactos { get; set; } = new();
    public List<FacturaResponse> Facturas { get; set; } = new();
    public List<ProductoResponse> Productos { get; set; } = new();
    public List<ProductoResponse> ProductosFiltrados { get; set; } = new();
    public ProductoResponse? ProductoSeleccionado { get; set; }

    // --- Factura y detalles ---
    public FacturaRequest facturaRequest { get; set; } = new();
    public FacturaDetalleRequest detalleFacturaRequest { get; set; } = new();
    public ClienteRequest requestCustomer { get; set; } = new();
    public bool showCard { get; set; } = false;

    // --- Valores de factura ---
    public decimal Precio { get; set; } = 0;
    public int Cantidad { get; set; } = 1;
    public int Stock { get; set; }
    public int IdProducto { get; set; } = 0;

    // --- Valores de pago ---
    public decimal Cambio { get; set; } = 0;
    public decimal MontoPagado { get; set; } = 0;
    public decimal SaldoPendiente { get; set; } = 0;
    public decimal Total { get; set; } = 0;

    private int ultimoIdFactura = 0;

    // --- Ciclo de vida ---

    private string FormatCustomerId(string customerId)
    {
        // Verifica si el número telefónico tiene la longitud esperada
        if (customerId != null && customerId.Length == 11)
        {
            // Formatea el número telefónico
            return $"{customerId.Substring(0, 3)}-{customerId.Substring(3, 7)}-{customerId.Substring(10)}";
        }
        else
        {
            // Devuelve el número telefónico sin cambios si no tiene la longitud esperada
            return customerId;
        }
    }

    async Task UpdatePage()
    {
        if(facturaRequest.Detalles.Any())
        {
            Precio = 0;
            Stock = 0;
            // Eliminar la información en facturaRequest.Detalles
            facturaRequest.Detalles.Clear();
            Chance = false;

            facturaRequest.SaldoPagado = 0;
            Cambio = 0;
            // Actualizar el valor de @ultimoIdFactura
            await Consultar();
            
        }
        else{
            await Consultar();
            Message = "Everything is ok 👌🏼";
            Message = null;
        }
    }
    // Método para obtener el último Id de Factura
    void BuscarPercio(int idProducto)
    {
        Precio = Productos.FirstOrDefault(p => p.Id == idProducto)!.Precio;
        Stock = Productos.FirstOrDefault(p => p.Id == idProducto)!.Stock;
        IdProducto = idProducto;
    }
    void BuscarSeleccionarCliente(string Contacto)
    {
        var c = Contactos.FirstOrDefault(p => p.Nombre+" "+p.Apellidos == Contacto)!;
        if (c != null) facturaRequest.ClienteId = c.Id;
    }
    void EliminarDetalle(int Id)
    {
        var detalle = facturaRequest.Detalles
        .FirstOrDefault(d => d.ProductoId == Id);
        if (detalle != null)
        {
            facturaRequest.Detalles.Remove(detalle);
        }
    }
    
   async Task CargarContacto()
    { 
        //Llenar la lista de contactos para mostrar al usuario...
        var r = await clienteServices.Consultar("");
        if (r.Success)
        {
            Contactos = r.Data!;
        }
    }

    async Task CargarProducto()
    { 
        //Llenar la lista de contactos para mostrar al usuario...
        var r = await productoServices.Consultar("");
        if (r.Success)
        {
            Productos = r.Data!;
        }
    }

    //Esto es para mostrar el Numero de la factura a registrar
    async Task Consultar()
    {
        var resultado = await facturaServices.Consultar(Filtro);
        if (resultado.Success)
        {
            Facturas = resultado.Data?.OrderByDescending(f => f.Fecha).ToList() ?? new List<FacturaResponse>();

            // Obtener el Id de la última factura registrada + 1
            ultimoIdFactura = Facturas.FirstOrDefault()?.Id + 1 ?? 1;
        }
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await CargarContacto();
        await CargarProducto();
        ProductosFiltrados = Productos;
        await Consultar();
        

    }

    void AgregarAlDetalle()
    {
        if (string.IsNullOrEmpty(Nombre))
        {
            Message = "😒 Debes seleccionar un cliente. 🙍‍♂️";
            return;
        }
        if (detalleFacturaRequest.Descuento > 30)
        {
            Message = "😒 El decuento no puede ser mayor a 30%. 💰";
            return;
        }

        Message = null;
        var producto = Productos.FirstOrDefault(p => p.Id == IdProducto);

        if (producto != null)
        {
            var detalleExistente = facturaRequest.Detalles.FirstOrDefault(d => d.ProductoId == IdProducto);

            if (detalleExistente != null)
            {
                int nuevaCantidad = detalleExistente.Cantidad + Cantidad;

                if (nuevaCantidad <= producto.Stock)
                {
                    detalleExistente.Cantidad = nuevaCantidad;
                }
                else
                {
                    Message = "No hay suficientes artículos en el stock. 😥";
                    return;
                }
            }
            else
            {
                if (Cantidad <= producto.Stock)
                {
                    facturaRequest.Detalles.Add(new FacturaDetalleRequest
                    {
                        ProductoId = IdProducto,
                        Descripcion = producto.Nombre,
                        Precio = producto.Precio,
                        Cantidad = Cantidad,
                        Descuento = detalleFacturaRequest.Descuento
                    });
                    Cantidad = 1;
                }
                else
                {
                    Message = "No hay suficientes artículos en el stock. 😥";
                    return;
                }
            }

            Message = null;
        }
    }
   
    async Task Send()
    {
        if (facturaRequest.SaldoPagado > facturaRequest.SubTotal - facturaRequest.TotalDesc 
            && facturaRequest.TypePayment == "2")
        {
            Pendiente();

            return;
        }
        
        BuscarSeleccionarCliente(Nombre);

        // Convertir ICollection a List antes de llamar a la función ActualizarStock
        var detallesList = facturaRequest.Detalles.ToList();

        // Llamada a la función para actualizar el stock
        await productoServices.StokVendido(
            detallesList.Select(d => d.ProductoId).ToList(), detallesList);

        var result = await facturaServices.Crear(facturaRequest);
        Message = null;
        await PrintPageAsync();
    }

    public async Task SendCustomer()
    {
        if(requestCustomer.Id == 0)
        {
            //Debo registrar el contacto..
            var r = await clienteServices.Crear(requestCustomer);
            if (r.Success)
            {
                OpenCloseModal();
                await CargarContacto();
                StateHasChanged();
            }
        }
    }
    
    void OpenCloseModal()
    {
        requestCustomer  = new ClienteRequest();
        showCard = !showCard;
    }

    void CancelarPago()
    {
        Chance = false;
        Total = 0;
        MontoPagado = 0;
        Cambio = 0;
    }

    void CalcularCambio()
    {
        if(facturaRequest.SaldoPagado < facturaRequest.SubTotal - facturaRequest.TotalDesc &&  facturaRequest.TypePayment == "1")
        {
            Message = "😒 El monto pagado no puede ser menor al importe de la factura 💰";
            return;
        }
        if (facturaRequest.Detalles.Count == 0)
        {
            Message = "😒 Debes agregar al menos un producto al detalle. 🛒";
            return;
        }

        if (string.IsNullOrEmpty(facturaRequest.TypePayment))
        {
            facturaRequest.TypePayment = "1";
        }
        

        if (facturaRequest.TypePayment == "2")
        {
            Info = true;
        }

        Chance = true;
        MontoPagado = facturaRequest.SaldoPagado;
        Total = facturaRequest.SubTotal - facturaRequest.TotalDesc;
        Cambio = MontoPagado - Total;
        Message = null;
    }
    void Pendiente()
    {
        if(facturaRequest.TypePayment=="2")
        {
            if(MontoPagado >= Total){
                Message = "El monto pagado no puede ser mayor o igual al total 😢";
                return;
            }
        }
        Chance = true;
        MontoPagado = facturaRequest.SaldoPagado;
        Total = facturaRequest.SubTotal - facturaRequest.TotalDesc;
        Cambio = MontoPagado - Total;
        SaldoPendiente = Total - MontoPagado;
        Message = null;
    }
    private async Task PrintPageAsync()
    {
        // Llama a la función JavaScript para imprimir la página
        await JSRuntime.InvokeVoidAsync("printPage");
        UpdatePage();
    }

    void FiltrarProductos(string filtro)
    {
        Filtro = filtro;
        ProductosFiltrados = Productos
            .Where(p => p.CodigoDescripcion.Contains(filtro, StringComparison.OrdinalIgnoreCase))
            .ToList();
    }

    void SeleccionarProducto(ProductoResponse producto)
    {
        ProductoSeleccionado = producto;
        Filtro = ""; // Limpia el campo de entrada después de seleccionar un producto
    }



}
