@page "/proveedor"
@attribute [Authorize]

<h1 class="d-none d-print-block text-center">Listado de Proveedores</h1>

<div class="modal" style="display: @(ShowConfirmation ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow-lg rounded-4">
            <div class="modal-header bg-light border-0">
                <h5 class="modal-title text-dark fw-bold">¿Estás seguro?</h5>
                <button type="button" class="btn-close" aria-label="Cerrar" @onclick="OpenClosedConfirmation"></button>
            </div>
            <div class="modal-body text-center">
                <p class="mb-0">Esta acción no se puede deshacer. ¿Deseas continuar?</p>
            </div>
            <div class="modal-footer justify-content-center border-0">
                <button class="btn btn-success px-4"
                        @onclick="async () => {
                            await Eliminar(provider);
                            OpenClosedConfirmation();
                        }">
                    <i style="font-size: 15px;" class="fw-bold">🗑️</i> Sí, eliminar
                </button>
                <button class="btn btn-outline-secondary px-4"
                        @onclick="OpenClosedConfirmation">
                    <i style="font-size: 15px;" class="fw-bold">✖️</i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" style="display: @(showCard ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title text-uppercase"><b>@TituloForm</b></h5>
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close" @onclick="CloseCard">
                    <i style="font-size: 15px;" class="fw-bold">X</i>
                </button>
            </div>

            <EditForm Model="proveedorRequest" OnValidSubmit="Send">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="modal-body">
                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">🏢</i>
                            </span>
                            <input type="text" class="form-control" placeholder="Nombre del proveedor" 
                                @bind-value="proveedorRequest.NombreEmp" required />
                        </div>
                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">✉️</i>
                            </span>
                            <input id="emailInput" type="email" class="form-control" placeholder="Email" 
                                @bind-value="proveedorRequest.Email" />
                        </div>

                       
                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">📞</i>
                            </span>
                            <input 
                                class="form-control" placeholder="Teléfono" type="tel"
                                @bind-value="proveedorRequest.Telefono" 
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)" 
                                required 
                                pattern="\d{10}" 
                                title="Debe tener 10 dígitos"
                            />

                        </div>

                        <div class="form-group input-group mb-3">
                            <span class="input-group-text bg-white text-black">
                                <i style="font-size: 15px;" class="fw-bold">📍</i>
                            </span>
                            <input class="form-control" placeholder="Dirección" 
                            @bind-value="proveedorRequest.Direccion"/>
                        </div>
                    </div>
                    

                    <div class="modal-footer bg-dark text-white">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-secondary" @onclick="CloseCard">Cerrar</button>
                        </div>
                    </div>
                </EditForm>

        </div>
    </div>
</div>

<div class="table-container">
    <div class="card col-12">
        <div class="card-body">
            <!-- Button trigger modal -->
            <button class="btn btn-outline-success d-print-none" @onclick="ShowCard">
                <span aria-hidden="true"><i style="font-size: 20px;" class="fw-bold">➕</i></span>
            </button>
            <button class="btn btn-outline-secondary d-print-none text-black" 
                @onclick="async ()=>{await PrintPageAsync();}">
                <span aria-hidden="true"><i style="font-size: 20px;" class="fw-bold">🖨</i></span>
            </button>

            <div class="row">
                <div class="col-8"></div>
                <div class="col-4">
                    <div class="input-group d-print-none">
                        <input type="text" class="form-control border-0 border-bottom" 
                        placeholder="Buscar por nombre" @bind="Filtro">
                        <button class="btn btn-outline-secondary border-0 border-bottom" 
                            type="button" id="button-addon2" @onclick="()=>CargarContactos()">
                            <i style="font-size: 20px;" class="fw-bold">🔎</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row-12 mt-2">
                <table class="table table-striped">
                    <thead class="bg-black text-white">
                        <tr>
                            <th>#</th>
                            <th>Nombre completo</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th class="d-print-none">...</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var proveedorRow in Proveedores)
                        {
                            <tr>
                                <td>@proveedorRow.Id</td>
                                <td>@proveedorRow.NombreEmp</td>
                                <td>@proveedorRow.Email</td>
                                <td>@FormatPhoneNumber(proveedorRow.Telefono)</td>
                                <td>@proveedorRow.Direccion</td>
                                @if(Role == "Admin")
                                {
                                    <td class="d-print-none">
                                        <button @onclick="()=>Seleccionar(proveedorRow.Id)"
                                            class="btn btn-outline-primary">
                                            <i style="font-size: 15px;" class="fw-bold">✏️</i>
                                        </button>
                                        <button @onclick="()=>ShowQuestion(proveedorRow)"
                                            class="btn btn-outline-danger">
                                            <i style="font-size: 15px;" class="fw-bold">🗑️</i>
                                        </button>
                                    </td>
                                }
                                else{
                                    <td class="d-print-none">
                                        <button class="btn btn-outline-primary">
                                            <span aria-hidden="true"><i class="bi bi-lock-fill"></i></span>
                                        </button>
                                        <button class="btn btn-outline-danger">
                                            <span aria-hidden="true"><i class="bi bi-lock-fill"></i></span>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>

@code {
    public string TituloForm => proveedorRequest.Id == 0 ? 
    "Agregar proveedor" : "Modificar proveedor";
    
    public string Filtro { get; set; } = "";
    public bool ShowForm { get; set; } = false;
    public List<ProveedorResponse> Proveedores { get; set; } = new();
    public ProveedorResponse provider { get; set; } = new();
    public ProveedorRequest proveedorRequest { get; set; } = new();
    public bool showCard { get; set; } = false;
    public bool ShowConfirmation { get; set; } = false;
    public string Role { get; set; } = "";

    private string FormatPhoneNumber(string phoneNumber)
    {
        // Verifica si el número telefónico tiene la longitud esperada
        if (phoneNumber.Length == 10)
        {
            // Formatea el número telefónico
            return $"({phoneNumber.Substring(0, 3)}) {phoneNumber.Substring(3, 3)}-{phoneNumber.Substring(6)}";
        }
        else
        {
            // Devuelve el número telefónico sin cambios si no tiene la longitud esperada
            return phoneNumber;
        }
    }
    void ShowCard()
    {
        showCard = true;
    }

    void CloseCard()
    {
        proveedorRequest  = new ProveedorRequest();
        showCard = false;
    }

    void OpenClosedConfirmation()
    {
        ShowConfirmation = !ShowConfirmation;
        StateHasChanged();
    }
    //Metodos Para confirmar las perdidas
    void ShowQuestion(ProveedorResponse seletedItem)
    {
        OpenClosedConfirmation();
        provider = seletedItem; // Usa la variable de instancia en lugar de declarar una nueva.
    }
    
    async Task CargarContactos()
    {
        var resultado =
        await proveedorServices.Consultar(Filtro);
        if (resultado.Success)
        {
            Proveedores = resultado.Data!;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Obtener el estado de autenticación
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        // Verifica si el usuario está autenticado
        if (user.Identity.IsAuthenticated)
        {
            // Extrae los valores de los reclamos y asigna las propiedades
            Role = user.FindFirst(ClaimTypes.Role)?.Value ?? "";
        }
        await CargarContactos();
    }

    void Cancelar()
    {
        proveedorRequest  = new ProveedorRequest();
        showCard = false;
    }
    public async Task Send()
    {
        if(proveedorRequest.Id == 0)
        {
            //Debo registrar el contacto..
            var r = await proveedorServices.Crear(proveedorRequest);
            if (r.Success)
            {
                Cancelar();
                await CargarContactos();
                StateHasChanged();
            }
        }
        else
        {
            //Debo solicitar modificar el contacto...
            var r = await proveedorServices.Modificar(proveedorRequest);
            if (r.Success)
            {
                Cancelar();
                await CargarContactos();
                StateHasChanged();
            }
        }
    }

    public void Seleccionar(int Id)
    {
        showCard = true;
        proveedorRequest = Proveedores
        .Where(c => c.Id == Id)
        .Select(c => c.ToRequest())
        .FirstOrDefault() ?? new ProveedorRequest();
    }
    public async Task Eliminar(ProveedorResponse item)
    {
        var resultado = await proveedorServices.Eliminar(item.ToRequest());
        if (resultado.Success)
        {
            await CargarContactos();
            StateHasChanged();
        }
    }

    private async Task PrintPageAsync()
    {
        // Llama a la función JavaScript para imprimir la página
        await JSRuntime.InvokeVoidAsync("printPage");
    }
}